@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

.container {
  display: block;
  margin: auto;
  max-width: 400px;
}
.calculator {
  display: grid;
  justify-content: center;
}

.row {
}

button {
  width: 4em;
  height: 3em;
  text-align: center;
  padding: 0;
  margin: 0.1em;
  border: 0.02em solid #4d4d4d;
  font-family: 'Cousine', monospace;
  color: black;
}

.normal-button {
  background-color: #b3b3b3;
}

.danger-button {
  background-color: red;
  color: white;
}

.display {
  display: grid;
  border: 0.02em solid #4d4d4d;
  font-family: 'Cousine', monospace;
  color: black;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

#displayline1 {
  margin: 0;
  padding: 0;
  height: 1em;
  font-size: 1em;
}

#displayline2 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  text-align: right;
}
